.bar.navbar{
    background-color: #051733;
    padding: 38px 100px;
}
.nav-link{
    color: white; 
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding-right: 0px !important;
    padding-left: 24px !important;
}
.nav-link:hover{
    color: #06B58C !important;
    font-weight: 600;
}
.navbar-nav{
    position: absolute;
    right: 100px;
    padding-top: 9px;
}